@import './base.css';

h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-block: $j $d;
}

.full-w {
  width: 100%;
}

h1,
h2,
h3,
h4 {
  color: $white;
}

main,
body {
  transition: all 350ms ease-in-out;
  background: $background;
  color: $white;
}

.ck > * {
  color: black;
}
.ck {
  height: 15rem;
}

button {
  border: none;
  background: $background;
  cursor: pointer;
}

.router-link-active {
  text-decoration: underline double 1px;
}
